In [ ]:
import pandas as pd

In [5]:
df = pd.read_csv('H:/code/pandas_data_analysis/words_pos.csv', index_col=1)
df.head()

        id pos_tag
word
aa       0      NN
aaa      1      NN
aah      2      NN
aahed    3     VBN
aahing   4     VBG

How many elements does this data frame have ?

2 ways
Either we use shape or info method

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 370100 entries, aa to zwitterionic
Data columns (total 2 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   id       370100 non-null  int64
 1   pos_tag  370100 non-null  object
dtypes: int64(1), object(1)
memory usage: 8.5+ MB